$white: #ffffff;
$primary-inner: #337ab7;
$black: #000000;
$border-table-cell: #d2d2d2;
 $leafgreen:#71c442;
 $lightredtext:#f1642e;
 $pink:#f0465c;
 $theme-primary: #4d51bd;
 $preloader-primary: #f8531e;
